<div class='home'>
  <div class='articles'>
    <% @featured_posts.each do |post| %>
      <div class="article">
        <%= link_to post.title, post_path(post) %>
        <%= post.body.truncate_words(20) %>
      </div>
    <% end %>
  </div>
  <aside class="right-bar">
    <h6>About Us</h6>
    <p>Content paragraph for the about us aside column that has tons of info in it</p>
  </aside>
</main>
