<div class='home'>
  <div class='articles'>
    <div class="article">
      <h6>An Article</h6>
      <p>Article body body bodybodybodybodybodybodybodybody</p>
    </div>
    <div class="article">
      <h6>An Article</h6>
      <p>Article body body bodybodybodybodybodybodybodybody</p>
    </div>
  </div>
  <aside class="right-bar">
    <h6>About Us</h6>
    <p>Content paragraph for the about us aside column that has tons of info in it</p>
  </aside>
</main>
